.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader{
  height: 60px;
  padding: 1rem 2.5rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}
.AppFooter{
  height: 60px;
  background-color: black;
}

.PageContent{
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.itemCard{
  margin: 8px;
}
.itemCardBadg{
  font-size: 1.2rem;
  margin: 8px;
}
.itemCardImage{
  height: 150px !important;
  object-fit: scale-down;
}

